<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../assets/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-autofill-bs4/css/autofill.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colreorder.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-keytable-bs4/css/keytable.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowreorder.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
	<link href="../assets/css/light-modal.min.css" rel="stylesheet" />

	<link href="../assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/@danielfarrell/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="../assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="../assets/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.css" /> -->
	<link href="../custom/luna.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
</head>
<body>
	<%- include("../frame/loader") -%>
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<%- include("../frame/header") -%>
		<%- include("../frame/sidebar") -%>
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Wallet</a></li>
				<li class="breadcrumb-item active">Balance</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Balance</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				<div class="col-xl-3 col-md-6 m-t-2">
						<div class="card border-0 text-truncate mb-3 ">
							<!-- begin card-body -->
							<div class="card-body">
								<!-- begin title -->
								<div class="mb-3 text-grey">
									<b class="mb-3">TOTAL ASSETS</b> 
									<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
								</div>
								<!-- end title -->
								<!-- begin conversion-rate -->
								<div class="d-flex align-items-center mb-1">
									<h2 class="text-white mb-0">$ <span data-animation="number" data-value="1000000">0</span></h2>
									<div class="ml-auto">
										<div id="balance-sparkline-1"></div>
									</div>
								</div>
								<!-- end conversion-rate -->
								<!-- begin percentage -->
								<div class="mb-4 text-grey">
									<i class="fa fa-caret-down"></i> <span data-animation="number" data-value="0.50">0.00</span>% compare to last week
								</div>
								<!-- end percentage -->
								<!-- begin info-row -->
								<div class="d-flex mb-2">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-red f-s-8 mr-2"></i>
										Added to cart
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="262">0</span>%</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.79">0.00</span>%</div>
									</div>
								</div>
								<!-- end info-row -->
								<!-- begin info-row -->
								<div class="d-flex mb-2">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
										Reached checkout
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="11">0</span>%</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.85">0.00</span>%</div>
									</div>
								</div>
								<!-- end info-row -->
								<!-- begin info-row -->
								<div class="d-flex">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-lime f-s-8 mr-2"></i>
										Sessions converted
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="57">0</span>%</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="2.19">0.00</span>%</div>
									</div>
								</div>
								<!-- end info-row -->
							</div>
							<!-- end card-body -->
						</div>
				</div>
				<div class="col-xl-3 col-md-6 m-t-2">
					<div class="card border-0 text-truncate mb-3 ">
						<!-- begin card-body -->
						<div class="card-body">
							<!-- begin title -->
							<div class="mb-3 text-grey">
								<b class="mb-3">TOTAL ASSETS</b> 
								<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
							</div>
							<!-- end title -->
							<!-- begin conversion-rate -->
							<div class="d-flex align-items-center mb-1">
								<h2 class="text-white mb-0">$ <span data-animation="number" data-value="1000000">0</span></h2>
								<div class="ml-auto">
									<div id="balance-sparkline-2"></div>
								</div>
							</div>
							<!-- end conversion-rate -->
							<!-- begin percentage -->
							<div class="mb-4 text-grey">
								<i class="fa fa-caret-down"></i> <span data-animation="number" data-value="0.50">0.00</span>% compare to last week
							</div>
							<!-- end percentage -->
							<!-- begin info-row -->
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-red f-s-8 mr-2"></i>
									Added to cart
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="262">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.79">0.00</span>%</div>
								</div>
							</div>
							<!-- end info-row -->
							<!-- begin info-row -->
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
									Reached checkout
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="11">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.85">0.00</span>%</div>
								</div>
							</div>
							<!-- end info-row -->
							<!-- begin info-row -->
							<div class="d-flex">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-lime f-s-8 mr-2"></i>
									Sessions converted
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="57">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="2.19">0.00</span>%</div>
								</div>
							</div>
							<!-- end info-row -->
						</div>
						<!-- end card-body -->
					</div>
				</div>
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-body">
							<div id="apex-pie-chart2" class="height-sm"></div>
						</div>
					</div>
					<!-- end panel -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<div class="row">
				<!-- begin col-10 -->
				<div class="col-xl-12">
					<div class="panel panel-inverse">
						<!-- begin panel-body -->
						<div class="panel-body">
							<table id="data-table-combine" class="table table-striped table-bordered table-td-valign-middle text-center">
								<thead>
									<tr>
										<th width="1%" data-orderable="false">Logo</th>
										<th class="text-nowrap">Coin</th>
										<th class="text-nowrap">Name</th>
										<th class="text-nowrap">Total Balance</th>
										<th class="text-nowrap">Locked</th>
										<th class="text-nowrap">FFT Value</th>
										<th class="text-nowrap">USD Value</th>
										<th class="text-nowrap">Action</th>
									</tr>
								</thead>
								<tbody>
									<% currencies.forEach(function(currency){ %>
										<tr class="odd gradeX" id="tr-<%= currency.symbol %>">
										<!-- <tr class="even gradeC"> -->
											<td width="1%" class="with-img"><img src="<%= currency.logo %>" class="img-rounded height-30" /></td>
											<td><%= currency.symbol %></td>
											<td><%= currency.coin %></td>
											<td><%= currency.balance %></td>
											<td><%= currency.locked %></td>
											<td><%= currency.dgg_balance %></td>
											<td><%= currency.usd_balance %></td>
											<td>
												<a href="#md-deposit-<%= currency.symbol %>" data-toggle="modal" class="btn btn-default m-r-5" title="Deposit <%= currency.symbol %>">
													<i class="fa fa-arrow-down"></i>
												</a>
												<a href="#md-withdraw-<%= currency.symbol %>" data-toggle="modal" class="btn btn-default m-r-5" title="Withdraw <%= currency.symbol %>">
													<i class="fa fa-arrow-up"></i>
												</a>
												<a href="#md-swap-<%= currency.symbol %>" data-toggle="modal" class="btn btn-default m-r-5" title="Swap <%= currency.symbol %>">
													<i class="fa fa-arrows-alt-h"></i>
												</a>

												<!-- Begin Modal Deposit -->
												<div class="modal fade ln-modal" id="md-deposit-<%= currency.symbol %>">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title">Deposit <%= currency.symbol %></h4>
																<a href="javascript:;" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
																	<i class="fa fa-window-close"></i>													
																</a>
															</div>
															<div class="modal-body">
																<div class="row m-b-0">
																		<div class="col-5" id="qr-<%= currency.symbol %>"></div>
																		<div class="col-7">
																				
																			<div class="input-group">
																				<input class="form-control" id="copy-<%= currency.symbol %>" value="<%= currency.address %>"/>
																				<a href="#" class="btn btn-grey text-black-lighter"  data-clipboard-target="#copy-<%= currency.symbol %>">
																					<i class="fa fa-copy fa-lg"></i>
																				</a>
																			</div>		
																			<div class="text-yellow text-left f-s-11">Send only <%= currency.symbol %> to this deposit address.</div>
																			<br>
																			<img src="<%= currency.logo %>" class="img-rounded height-90 rounded mx-auto d-block"/>			
																		</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- Start DOM QR -->
												<script>
													// https://larsjung.de/jquery-qrcode/latest/demo/
													setTimeout(() => {
														$('#qr-<%= currency.symbol %>').qrcode({
															"render": "div",
															"size": 180,
															"color": "#3a3",
															"text": "<%= currency.address %>",
														})
													}, 1000)													
												</script>
												<!-- End DOM QR -->
												<!-- End Modal Deposit -->

												<!-- Begin Modal Withdraw -->
												<div class="modal fade ln-modal" id="md-withdraw-<%= currency.symbol %>">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title">Withdraw <%= currency.symbol %></h4>
																<a href="javascript:;" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
																	<i class="fa fa-window-close"></i>													
																</a>
															</div>
															<div class="modal-body">
																<div class="m-b-0">
																	<!-- begin panel-body -->
																	<div class="panel-body panel-form">
																		<form class="form-horizontal form-bordered">
																			<div class="form-group row">
																				<label class="col-lg-4 col-form-label" for="receive_address">Address</label>
																				<div class="col-lg-8">
																					<span class="text-yellow text-left f-s-11" id="check-address-<%= currency.symbol %>"></span>
																					<input type="text" name="receive_address" id="withdraw-address-<%= currency.symbol %>" class="form-control mb-2" />
																				</div>
																			</div>
																			<div class="form-group row">
																				<label class="col-lg-4 col-form-label" for="receive_amount">Amount</label>
																				<div class="col-lg-8">
																					<span class="text-yellow text-left f-s-11" id="check-amount-<%= currency.symbol %>"></span>
																					<input type="text" name="receive_amount" id="withdraw-amount-<%= currency.symbol %>" class="form-control mb-2" />
																					<div class="row">
																						<div class="btn-group col-md-9">
																							<button type="button" class="btn btn-white" data-percent='{"per": 25, "symbol": "<%= currency.symbol %>"}'>25%</button>
																							<button type="button" class="btn btn-white" data-percent='{"per": 50, "symbol": "<%= currency.symbol %>"}'>50%</button>
																							<button type="button" class="btn btn-white" data-percent='{"per": 75, "symbol": "<%= currency.symbol %>"}'>75%</button>
																							<button type="button" class="btn btn-white" data-percent='{"per": 100, "symbol": "<%= currency.symbol %>"}'>100%</button>
																						</div>
																					<div class="text-yellow text-right f-s-11 col-md-3">Max: <span id="withdraw-max-<%= currency.symbol %>"><%= currency.balance %></span> <%= currency.symbol %></div>
																					</div>
																				</div>
																			</div>
																			<div class="form-group row">
																				<label class="col-lg-4 col-form-label" for="receive_tfa">Auth</label>
																				<div class="col-lg-8">
																					<span class="text-yellow text-left f-s-11" id="check-auth-<%= currency.symbol %>"></span>
																					<input type="text" name="receive_tfa" id="auth-<%= currency.symbol %>" class="form-control mb-2" />
																				</div>
																			</div>
																		</form>
																	</div>
																	<!-- end panel-body -->
																</div>
															</div>
															<div class="modal-footer justify-content-center">
																<!-- data-dismiss="modal" -->
																<a href="javascript:;" class="btn btn-default" data-order='{"symbol": "<%= currency.symbol %>", "action": "withdraw"}'>Withdraw</a>
															</div>
														</div>
													</div>
												</div>
												<!-- End Modal Withdraw -->

												<!-- Begin Modal Swap -->
												<div class="modal fade ln-modal" id="md-swap-<%= currency.symbol %>">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title">Swap <%= currency.symbol %></h4>
																<a href="javascript:;" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
																	<i class="fa fa-window-close"></i>													
																</a>
															</div>
															<div class="modal-body">
																<div class="m-b-0">
																	<!-- begin panel-body -->
																	<div class="panel-body panel-form">
																		<form class="form-horizontal form-bordered">

																			<div class="form-group row">
																				<label class="col-lg-4 col-form-label">To</label>
																				<div class="col-lg-8">
																					<select class="combobox" id="swap-to-<%= currency.symbol %>">
																						<option value="">Select Currency</option>
																						<% currency.to_swap.forEach(function(item){ %>
																							<option value="<%= item.symbol %>"><%= item.coin %></option>
																						<% }) %>
																					</select>
																				</div>
																			</div>

																			<div class="form-group row">
																				<label class="col-lg-4 col-form-label" for="swap_amount">Amount</label>
																				<div class="col-lg-8">
																					<span class="text-yellow text-left f-s-11" id="checkswap-amount-<%= currency.symbol %>"></span>
																					<input type="text" name="swap_amount" id="swap-amount-<%= currency.symbol %>" class="form-control mb-2" />
																					<div class="row">
																						<div class="btn-group col-md-9">
																							<button type="button" class="btn btn-white" data-percent='{"per": 25, "symbol": "<%= currency.symbol %>"}'>25%</button>
																							<button type="button" class="btn btn-white" data-percent='{"per": 50, "symbol": "<%= currency.symbol %>"}'>50%</button>
																							<button type="button" class="btn btn-white" data-percent='{"per": 75, "symbol": "<%= currency.symbol %>"}'>75%</button>
																							<button type="button" class="btn btn-white" data-percent='{"per": 100, "symbol": "<%= currency.symbol %>"}'>100%</button>
																						</div>
																					<div class="text-yellow text-right f-s-11 col-md-3">Max: <span id="swap-max-<%= currency.symbol %>"><%= currency.balance %></span> <%= currency.symbol %></div>
																					</div>
																				</div>
																			</div>
																		</form>
																	</div>
																	<!-- end panel-body -->
																</div>
															</div>
															<div class="modal-footer justify-content-center">
																<a href="javascript:;" class="btn btn-default" data-order='{"symbol": "<%= currency.symbol %>", "action": "swap"}'>Swap</a>
															</div>
														</div>
													</div>
												</div>
												<!-- End Modal Swap -->
											</td>
										</tr>
									<% }) %>
								</tbody>
							</table>
							
						</div>
						<!-- end panel-body -->
					</div>
				</div>
				<!-- end col-10 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/transparent.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
	<!-- <script src="../assets/plugins/datatables.net-autofill/js/dataTables.autofill.min.js"></script> -->
	<!-- <script src="../assets/plugins/datatables.net-autofill-bs4/js/autofill.bootstrap4.min.js"></script> -->
	<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colreorder.min.js"></script>
	<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colreorder.bootstrap4.min.js"></script>
	<!-- <script src="../assets/plugins/datatables.net-keytable/js/dataTables.keytable.min.js"></script>
	<script src="../assets/plugins/datatables.net-keytable-bs4/js/keytable.bootstrap4.min.js"></script> -->
	<script src="../assets/plugins/datatables.net-rowreorder/js/dataTables.rowreorder.min.js"></script>
	<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowreorder.bootstrap4.min.js"></script>
	<!-- <script src="../assets/plugins/datatables.net-select/js/dataTables.select.min.js"></script>
	<script src="../assets/plugins/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script> -->
	<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
	<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
	<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
	<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
	<script src="../assets/js/demo/table-manage-combine.demo.js"></script>

	<script src="../assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
	<script src="../assets/plugins/moment/min/moment.min.js"></script>
	<script src="../assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="../assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
	<script src="../assets/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
	<script src="../assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
	<script src="../assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="../assets/plugins/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"></script>
	<script src="../assets/plugins/@danielfarrell/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="../assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="../assets/plugins/tag-it/js/tag-it.min.js"></script>
	<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../assets/plugins/select2/dist/js/select2.min.js"></script>
	<script src="../assets/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js"></script>
	<script src="../assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
	<script src="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="../assets/plugins/clipboard/dist/clipboard.min.js"></script>
	<script src="../assets/js/demo/form-plugins.demo.js"></script>
	<script src="../assets/js/demo/dashboard-v3.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.js"></script> -->
	<script src="../custom/balance.js"></script>
	<script src="../custom/jquery-qrcode-0.17.0.min.js"></script>
	<script src="../assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
	<script>
		Apex.grid = {
			borderColor: 'rgba(255,255,255,0.25)'
		};
		Apex.title = {
			style: {
				color: '#fff'
			}
		}
		Apex.legend = {
			labels: {
				colors: '#fff'
			}
		}
		Apex.xaxis = {
			labels: {
				style: {
					colors: '#fff'
				}
			},
			title: {
				style: {
					color: '#fff'
				}
			}
		}
		Apex.yaxis = {
			labels: {
				style: {
					color: '#fff'
				}
			},
			title: {
				style: {
					color: '#fff'
				}
			}
		}
	</script>
	<script src="../assets/js/demo/chart-apex.demo.js"></script>
	<script src="../custom/sidebar.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>