<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../assets/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<!-- ================== BEGIN PAGE CSS ================== -->
	<link href="../assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<!-- ================== END PAGE CSS ================== -->
</head>
<body>
	<%- include("../frame/loader") -%>

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<%- include("../frame/header") -%>
		<%- include("../frame/sidebar") -%>
		
       <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Tools</a></li>
				<li class="breadcrumb-item active">Events</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">
				Details
			</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row row-space-30">
				<!-- begin col-9 -->
				<div class="col-lg-12">
					<!-- begin post-detail -->
					<div class="post-detail section-container">
                        <style>
                            .post-title {
                                margin: 0 0 .3125rem;
                                font-size: 1.5rem;
                                line-height: 1.5;
                                font-weight: 600;
                            }
                            .post-by {
                                display: block;
                                font-size: .8125rem;
                                line-height: 1.8;
                                color: #6c757d;
                                margin-bottom: .9375rem;
                            }
                            .post-desc {
                                line-height: 1.8;
                                color: #cacfd4;
                            }
                            .post-desc, .post-desc p {
                                margin-bottom: 1.875rem;
                                font-size: 16px;
                            }
                            .post-image-cover {
                                position: relative;
                                padding-top: 56%;
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        </style>
						<h4 class="post-title">
							<a href="javascript:;"><%= currentEvent.title %></a>
						</h4>
                        <div class="row">

                            <div class="col-lg-8">
                                                        <!-- begin post-desc -->
                                <div class="post-desc">
                                    <p>
                                        <%= currentEvent.content1 %>
                                    </p>
                                </div>
                                <!-- end post-desc -->
                                <!-- begin post-desc -->
                                <div class="post-desc">
                                    <p>
                                        <%= currentEvent.content2 %>
                                    </p>
                                </div>
                                <!-- end post-desc -->
    
                                <!-- begin post-desc -->
                                <div class="post-desc">
                                    <p>
                                        <%= currentEvent.content3 %>
                                    </p>
                                    <p>
                                        <%= currentEvent.content4 %>
                                    </p>
                                </div>
                                <!-- end post-desc -->
                            </div>
                            <div class="col-lg-4">
                                <div class="post-image">
                                    <div class="post-image-cover" style="background-image: url('../assets/avatars/<%= currentEvent.img %>')"></div>
                                </div>
                                <!-- end post-image -->
                                <div class="m-t-20 m-l-10">
                                    <% if(nextEvent != null) {%>
                                    <div class="m-10">NEXT: &nbsp;&nbsp;&nbsp;<span><a href="/details-event/<%= linkNext %>-.-<%= nextEvent.eventId %>" class="f-s-16"><%= nextEvent.title %></a></span></div>
                                    <% }else{ %>
                                    <div class="m-10">NEXT: &nbsp;&nbsp;&nbsp;<span>NONE</span></div>
                                    <% } %>
                                    <% if(prevEvent != null) {%>
                                    <div class="m-10">PREV: &nbsp;&nbsp;&nbsp;<span><a href="/details-event/<%= linkPrev %>-.-<%= prevEvent.eventId %>" class="f-s-16"><%= prevEvent.title %></a></span></div>
                                    <% }else{ %>
                                    <div class="m-10">PREV: &nbsp;&nbsp;&nbsp;<span>NONE</span></div>
                                    <% } %>
                                </div>
                                <div class="m-t-20 m-l-10">
                                    <div class="m-10 m-b-20">LASTEST EVENT:</div>
                                    <% events.forEach(function (item) {%>
                                    <div class="m-10">- &nbsp;&nbsp;&nbsp;<span><a href="/details-event/<%= item.link %>-.-<%= item.eventId %>" class="f-s-16"><%= item.title %></a></span></div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        

					</div>
					<!-- end post-detail -->
				</div>
				<!-- end col-9 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/transparent.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/d3/d3.min.js"></script>
	<script src="../assets/plugins/nvd3/build/nv.d3.min.js"></script>
	<script src="../assets/plugins/clipboard/dist/clipboard.min.js"></script>
	<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
	<script src="../assets/js/demo/widget.demo.js"></script>
	<script src="../assets/js/demo/render.highlight.js"></script>
	<script src="../custom/sidebar.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>