<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Dashboard V3</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../assets/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
	<link href="../assets/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
	<link href="../assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
</head>
<body>
	<% var days_direct_commission = totalByTime.days.profits.direct_commission %>
	<% var days_static_interest = totalByTime.days.profits.static_interest %>
	<% var days_dynamic_interest = totalByTime.days.profits.dynamic_interest %>
	<% var days_indirect_commission = totalByTime.days.profits.indirect_commission %>

	<% var days_profits = days_direct_commission + days_static_interest + days_dynamic_interest + days_indirect_commission %>

	<% var months_direct_commission = totalByTime.months.profits.direct_commission %>
	<% var months_static_interest = totalByTime.months.profits.static_interest %>
	<% var months_dynamic_interest = totalByTime.months.profits.dynamic_interest %>
	<% var months_indirect_commission = totalByTime.months.profits.indirect_commission %>

	<% var months_profits = months_direct_commission + months_static_interest + months_dynamic_interest + months_indirect_commission %>

	<% var days_direct_commission_past = totalByTimePast.days.profits.direct_commission %>
	<% var days_static_interest_past = totalByTimePast.days.profits.static_interest %>
	<% var days_dynamic_interest_past = totalByTimePast.days.profits.dynamic_interest %>
	<% var days_indirect_commission_past = totalByTimePast.days.profits.indirect_commission %>
	
	<% var days_profits_past = days_direct_commission_past + days_static_interest_past + days_dynamic_interest_past + days_indirect_commission_past %>

	<% var months_direct_commission_past = totalByTimePast.months.profits.direct_commission %>
	<% var months_static_interest_past = totalByTimePast.months.profits.static_interest %>
	<% var months_dynamic_interest_past = totalByTimePast.months.profits.dynamic_interest %>
	<% var months_indirect_commission_past = totalByTimePast.months.profits.indirect_commission %>

	<% var months_profits_past = months_direct_commission_past + months_static_interest_past + months_dynamic_interest_past + months_indirect_commission_past %>

	<% var sale_Ref_Days = totalByTime.days.ref %>
	<% var sale_Ref_Months = totalByTime.months.ref %>

	<% var sale_Ref_Days_Past = totalByTimePast.days.ref %>
	<% var sale_Ref_Months_Past = totalByTimePast.months.ref %>

	<%- include("../frame/loader") -%>

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show gradient-enabled">
		<%- include("../frame/header") -%>
		<%- include("../frame/sidebar") -%>
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">My Fund</a></li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header mb-3">My Fund</h1>
			<!-- end page-header -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin card -->
					<div class="card border-0 mb-3 overflow-hidden ">
						<!-- begin card-body -->
						<div class="card-body">
							<!-- begin row -->
							<div class="row">
								<!-- begin col-7 -->
								<div class="col-xl-7 col-lg-8">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b>TOTAL CAPITALS</b>
										<span class="ml-2">
											<i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total sales" data-placement="top" data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i>
										</span>
									</div>
									<!-- end title -->
									<!-- begin total-sales -->
									<div class="d-flex mb-1">
										<h2 class="mb-0">$ <span data-animation="number" data-value="<%= Number(capitalTotal.USD) %>"><%= Number(capitalTotal.USD) %></span></h2>
										<div class="ml-auto mt-n1 mb-n1"><div id="total-sales-sparkline"></div></div>
									</div>
									<!-- end total-sales -->
									<!-- begin percentage -->
									<div class="mb-3 text-grey">
										<!-- <i class="fa fa-caret-up"></i>  -->
										FFT <span data-animation="number" data-value="<%= Number(capitalTotal.FFT) %>"><%= Number(capitalTotal.FFT) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<hr class="bg-white-transparent-2" />
									<!-- begin row -->
									<div class="row text-truncate">
										<!-- begin col-6 -->
										<div class="col-6">
											<div class="f-s-12 text-grey">Investment Regime</div>
											<div class="f-s-18 m-b-5 f-w-600 p-b-1" data-animation="number" data-value="<%= Number( check_package.brand.slice(0,1) ) %>"><%= Number( check_package.brand.slice(0,1) ) %></div>
											<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
												<div class="progress-bar progress-bar-striped rounded-right bg-teal" data-animation="width" data-value="<%= (Number(capitalTotal.USD) * 100 / 100000).toFixed(0) %>%" style="width: 0%"></div>
											</div>
										</div>
										<!-- end col-6 -->
										<!-- begin col-6 -->
										<div class="col-6">
											<div class="f-s-12 text-grey">Dividend Rate</div>
											<div class="f-s-18 m-b-5 f-w-600 p-b-1">
												<!-- $ -->
												<span data-animation="number" data-value="<%= check_package.dynamic_interest * 100 %>"><%= check_package.dynamic_interest * 100 %></span></div>
											<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
												<div class="progress-bar progress-bar-striped rounded-right" data-animation="width" data-value="<%= (Number(check_package.dynamic_interest * 100 * 100 / 60)).toFixed(0) %>%" style="width: 0%"></div>
											</div>
										</div>
										<!-- end col-6 -->
									</div>
									<!-- end row -->
								</div>
								<!-- end col-7 -->
								<!-- begin col-5 -->
								<div class="col-xl-5 col-lg-4 align-items-center d-flex justify-content-center">
									<div id="stage">
										<img id="spinner" src="../assets-home/home/loader.png" width="150" alt="">
									</div>
								</div>
								<!-- end col-5 -->
								<style>
									 #stage {
										margin: 1em auto;
										-webkit-perspective: 1200px;
										-moz-perspective: 1200px;
										-ms-perspective: 1200px;
										perspective: 1200px;
									}
									#spinner {
										-webkit-animation-name: spinner;
										-webkit-animation-timing-function: linear;
										-webkit-animation-iteration-count: infinite;
										-webkit-animation-duration: 3s;

										animation-name: spinner;
										animation-timing-function: linear;
										animation-iteration-count: infinite;
										animation-duration: 3s;

										-webkit-transform-style: preserve-3d;
										-moz-transform-style: preserve-3d;
										-ms-transform-style: preserve-3d;
										transform-style: preserve-3d;
									}

									#spinner:hover {
										-webkit-animation-play-state: paused;
										animation-play-state: paused;
									  }
									  /* all other browsers */
									@keyframes spinner {
										from {
										-moz-transform: rotateY(0deg);
										-ms-transform: rotateY(0deg);
										transform: rotateY(0deg);
										}
										to {
										-moz-transform: rotateY(-360deg);
										-ms-transform: rotateY(-360deg);
										transform: rotateY(-360deg);
										}
  }
								</style>
							</div>
							<!-- end row -->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin card -->
					<div class="card border-0 mb-3 overflow-hidden ">
						<!-- begin card-body -->
						<div class="card-body">
							<!-- begin row -->
							<div class="row">
								<!-- begin col-7 -->
								<div class="col-xl-12 col-lg-12">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b>TOTAL SALES</b>
										<span class="ml-2">
											<i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total sales" data-placement="top" data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i>
										</span>
									</div>
									<!-- end title -->
									<!-- begin total-sales -->
									<div class="d-flex mb-1">
										<h2 class="mb-0">$ <span data-animation="number" data-value="<%= Number(salesTotal.USD) %>"><%= Number(salesTotal.USD) %></span></h2>
										<div class="ml-auto mt-n1 mb-n1"><div id="total-sales-sparkline"></div></div>
									</div>
									<!-- end total-sales -->
									<!-- begin percentage -->
									<div class="mb-3 text-grey">
										<!-- <i class="fa fa-caret-up"></i>  -->
										FFT <span data-animation="number" data-value="<%= Number(salesTotal.FFT) %>"><%= Number(salesTotal.FFT) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<hr class="bg-white-transparent-2" />
									<!-- begin row -->
									<div class="row text-truncate">
										<!-- begin col-6 -->
										<div class="col-6">
											<div class="f-s-12 text-grey">Sales by Day</div>
											<div class="f-s-18 m-b-5 f-w-600 p-b-1">$ <span data-animation="number" data-value=" <%= Number(totalByTime.days.sales * priceFFT) %> "> <%= Number(totalByTime.days.sales * priceFFT) %> </span> </div>
											<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
												<div class="progress-bar progress-bar-striped rounded-right bg-teal" data-animation="width" data-value=" <%= (Number(totalByTime.days.sales) * 100 / (Number(totalByTime.days.sales) + Number(totalByTimePast.days.sales))).toFixed(0) %> %" style="width: 0%"></div>
											</div>
										</div>
										<!-- end col-6 -->
										<!-- begin col-6 -->
										<div class="col-6">
											<div class="f-s-12 text-grey">Sales by Month</div>
											<div class="f-s-18 m-b-5 f-w-600 p-b-1">$ <span data-animation="number" data-value="<%= Number(totalByTime.months.sales * priceFFT) %>"><%= Number(totalByTime.months.sales * priceFFT) %></span></div>
											<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
												<div class="progress-bar progress-bar-striped rounded-right" data-animation="width" data-value="(Number(totalByTime.months.sales) * 100 / (Number(totalByTime.months.sales) + Number(totalByTimePast.months.sales))).toFixed(0) %" style="width: 0%"></div>
											</div>
										</div>
										<!-- end col-6 -->
									</div>
									<!-- end row -->
								</div>
								<!-- end col-7 -->
							</div>
							<!-- end row -->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin row -->
					<div class="row">
						<!-- begin col-6 -->
						<div class="col-sm-6">
							<!-- begin card -->
							<div class="card border-0 text-truncate mb-3 ">
								<!-- begin card-body -->
								<div class="card-body">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b class="mb-3">TOTAL ASSETS</b> 
										<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
									</div>
									<!-- end title -->
									<!-- begin conversion-rate -->
									<div class="d-flex align-items-center mb-1">
										<h2 class="text-white mb-0"><span data-animation="number" data-value=" <%= Number(assetsTotal.USD) %>"><%= Number(assetsTotal.USD) %></span>
											<!-- % -->
										</h2>
										<div class="ml-auto">
											<div id="invest-sparkline-1"></div>
										</div>
									</div>
									<!-- end conversion-rate -->
									<!-- begin percentage -->
									<div class="mb-4 text-grey">
										<!-- <i class="fa fa-caret-down"></i>  -->
										FFT <span data-animation="number" data-value="<%= Number(assetsTotal.FFT) %>"><%= Number(assetsTotal.FFT) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-red f-s-8 mr-2"></i>
											Day
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= (assetsTotal.totalDays * 100 / assetsTotalPast.totalDays) - 100 %>"><%= (assetsTotal.totalDays * 100 / assetsTotalPast.totalDays) - 100 %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= assetsTotal.totalDays %>"><%= assetsTotal.totalDays %></span> $</div>
										</div>
									</div>
									<!-- end info-row -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
											Month
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= (assetsTotal.totalDays * 100 / assetsTotalPast.totalDays) - 100 %>"><%= (assetsTotal.totalDays * 100 / assetsTotalPast.totalDays) - 100 %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= assetsTotal.totalMonths %>"><%= assetsTotal.totalMonths %></span> $</div>
										</div>
									</div>
									<!-- end info-row -->
								</div>
								<!-- end card-body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col-6 -->
						<!-- begin col-6 -->
						<div class="col-sm-6">
							<!-- begin card -->
							<div class="card border-0 text-truncate mb-3 ">
								<!-- begin card-body -->
								<div class="card-body">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b class="mb-3">TOTAL PROFITS</b> 
										<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Store Sessions" data-placement="top" data-content="Number of sessions on your online store. A session is a period of continuous activity from a visitor." data-original-title="" title=""></i></span>
									</div>
									<!-- end title -->
									<!-- begin store-session -->
									<div class="d-flex align-items-center mb-1">
										<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(profitTotal.USD)  %>"><%= Number(profitTotal.USD) %></span></h2>
										<div class="ml-auto">
											<div id="invest-sparkline-2"></div>
										</div>
									</div>
									<!-- end store-session -->
									<!-- begin percentage -->
									<div class="mb-4 text-grey">
										<!-- <i class="fa fa-caret-up"></i>  -->
										FFT <span data-animation="number" data-value="<%= Number(profitTotal.FFT)  %>"><%= Number(profitTotal.FFT) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-teal f-s-8 mr-2"></i>
											Day
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number((days_profits * 100 / days_profits_past - 100)) %>"><%= Number((days_profits * 100 / days_profits_past - 100)) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(days_profits * priceFFT) %>"><%= Number(days_profits * priceFFT) %></span></div>
										</div>
									</div>
									<!-- end info-row -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-blue f-s-8 mr-2"></i>
											Month
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number((months_profits * 100 / months_profits_past - 100)) %>"><%= Number((months_profits * 100 / months_profits_past - 100)) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(months_profits * priceFFT) %>"><%= Number(months_profits * priceFFT) %></span></div>
										</div>
									</div>
									<!-- end info-row -->
								</div>
								<!-- end card-body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col-6 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin row -->
					<div class="row">
						<!-- begin col-6 -->
						<div class="col-sm-6">
							<!-- begin card -->
							<div class="card border-0 text-truncate mb-3 ">
								<!-- begin card-body -->
								<div class="card-body">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b class="mb-3">DIRECT SALES</b> 
										<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
									</div>
									<!-- end title -->
									<!-- begin conversion-rate -->
									<div class="d-flex align-items-center mb-1">
										<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(salesRefTotal.USD) %>"><%= Number(salesRefTotal.USD) %></span>
											<!-- % -->
										</h2>
										<div class="ml-auto">
											<div id="invest-sparkline-3"></div>
										</div>
									</div>
									<!-- end conversion-rate -->
									<!-- begin percentage -->
									<div class="mb-4 text-grey">
										<!-- <i class="fa fa-caret-down"></i>  -->
										FFT <span data-animation="number" data-value="<%= Number(salesRefTotal.FFT) %>"><%= Number(salesRefTotal.FFT) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-red f-s-8 mr-2"></i>
											Day
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(sale_Ref_Days * 100 / sale_Ref_Days_Past - 100) %>"><%= Number(sale_Ref_Days * 100 / sale_Ref_Days_Past - 100) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(sale_Ref_Days * priceFFT) %>"><%= Number(sale_Ref_Days * priceFFT) %></span>
												<!-- % -->
											</div>
										</div>
									</div>
									<!-- end info-row -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
											Month
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(sale_Ref_Months * 100 / sale_Ref_Months_Past - 100) %>"><%= Number(sale_Ref_Months * 100 / sale_Ref_Months_Past - 100) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(sale_Ref_Months * priceFFT) %>"><%= Number(sale_Ref_Days * priceFFT) %></span>
												<!-- % -->
											</div>
										</div>
									</div>
									<!-- end info-row -->
								</div>
								<!-- end card-body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col-6 -->
						<!-- begin col-6 -->
						<div class="col-sm-6">
							<!-- begin card -->
							<div class="card border-0 text-truncate mb-3 ">
								<!-- begin card-body -->
								<div class="card-body">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b class="mb-3">INTEREST RATE</b> 
										<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Store Sessions" data-placement="top" data-content="Number of sessions on your online store. A session is a period of continuous activity from a visitor." data-original-title="" title=""></i></span>
									</div>
									<!-- end title -->
									<!-- begin store-session -->
									<div class="d-flex align-items-center mb-1">
										<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(profitTotal.USD * 100 / capitalTotal.USD ).toFixed(0) %>"><%= Number(profitTotal.USD * 100 / capitalTotal.USD ).toFixed(0) %></span></h2>
										<div class="ml-auto">
											<div id="invest-sparkline-4"></div>
										</div>
									</div>
									<!-- end store-session -->
									<!-- begin percentage -->
									<div class="mb-4 text-grey">
										<i class="fa fa-caret-up"></i> <span data-animation="number" data-value="100">100</span> % compare to last week
									</div>
									<!-- end percentage -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-teal f-s-8 mr-2"></i>
											Day
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="100">100</span>%</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(days_profits * priceFFT * 100 / capitalTotal.USD ).toFixed(0) %>"><%= Number(days_profits * priceFFT * 100 / capitalTotal.USD ).toFixed(0) %></span></div>
										</div>
									</div>
									<!-- end info-row -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-blue f-s-8 mr-2"></i>
											Month
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="100">100</span>%</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(months_profits * priceFFT * 100 / capitalTotal.USD ).toFixed(0) %>"><%= Number(months_profits * priceFFT * 100 / capitalTotal.USD ).toFixed(0) %></span></div>
										</div>
									</div>
									<!-- end info-row -->
								</div>
								<!-- end card-body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col-6 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin row -->
					<div class="row">
						<!-- begin col-6 -->
						<div class="col-sm-6">
							<!-- begin card -->
							<div class="card border-0 text-truncate mb-3 ">
								<!-- begin card-body -->
								<div class="card-body">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b class="mb-3">STATIC INTEREST</b> 
										<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
									</div>
									<!-- end title -->
									<!-- begin conversion-rate -->
									<div class="d-flex align-items-center mb-1">
										<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(profitTotal.static_interest * priceFFT).toFixed(0) %>"><%= Number(profitTotal.static_interest * priceFFT).toFixed(0) %></span>
											<!-- % -->
										</h2>
										<div class="ml-auto">
											<div id="invest-sparkline-5"></div>
										</div>
									</div>
									<!-- end conversion-rate -->
									<!-- begin percentage -->
									<div class="mb-4 text-grey">
										<!-- <i class="fa fa-caret-down"></i> -->
										FFT <span data-animation="number" data-value="<%= Number(profitTotal.static_interest) %>"><%= Number(profitTotal.static_interest) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-red f-s-8 mr-2"></i>
											Day
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(days_static_interest * 100 / days_static_interest_past - 100) %>"><%= Number(days_static_interest * 100 / days_static_interest_past - 100) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(days_static_interest * priceFFT) %>"><%= Number(days_static_interest * priceFFT) %></span>
												<!-- % -->
											</div>
										</div>
									</div>
									<!-- end info-row -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
											Month
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(months_static_interest * 100 / months_static_interest_past - 100) %>"><%= Number(months_static_interest * 100 / months_static_interest_past - 100) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(months_static_interest * priceFFT) %>"><%= Number(months_static_interest * priceFFT) %></span>
												<!-- % -->
											</div>
										</div>
									</div>
									<!-- end info-row -->
								</div>
								<!-- end card-body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col-6 -->
						<!-- begin col-6 -->
						<div class="col-sm-6">
							<!-- begin card -->
							<div class="card border-0 text-truncate mb-3 ">
								<!-- begin card-body -->
								<div class="card-body">
									<!-- begin title -->
									<div class="mb-3 text-grey">
										<b class="mb-3">DYNAMIC INTEREST</b> 
										<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
									</div>
									<!-- end title -->
									<!-- begin conversion-rate -->
									<div class="d-flex align-items-center mb-1">
										<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(profitTotal.dynamic_interest * priceFFT).toFixed(0) %>"><%= Number(profitTotal.dynamic_interest * priceFFT).toFixed(0) %></span>
											<!-- % -->
										</h2>
										<div class="ml-auto">
											<div id="invest-sparkline-5"></div>
										</div>
									</div>
									<!-- end conversion-rate -->
									<!-- begin percentage -->
									<div class="mb-4 text-grey">
										<!-- <i class="fa fa-caret-down"></i> -->
										FFT <span data-animation="number" data-value="<%= Number(profitTotal.dynamic_interest) %>"><%= Number(profitTotal.dynamic_interest) %></span>
										<!-- % compare to last week -->
									</div>
									<!-- end percentage -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-red f-s-8 mr-2"></i>
											Day
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(days_dynamic_interest * 100 / days_dynamic_interest_past - 100) %>"><%= Number(days_dynamic_interest * 100 / days_dynamic_interest_past - 100) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(days_dynamic_interest * priceFFT) %>"><%= Number(days_dynamic_interest * priceFFT) %></span>
												<!-- % -->
											</div>
										</div>
									</div>
									<!-- end info-row -->
									<!-- begin info-row -->
									<div class="d-flex mb-2">
										<div class="d-flex align-items-center">
											<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
											Month
										</div>
										<div class="d-flex align-items-center ml-auto">
											<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(months_dynamic_interest * 100 / months_dynamic_interest_past - 100) %>"><%= Number(months_dynamic_interest * 100 / months_dynamic_interest_past - 100) %></span> %</div>
											<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(months_dynamic_interest * priceFFT) %>"><%= Number(months_dynamic_interest * priceFFT) %></span>
												<!-- % -->
											</div>
										</div>
									</div>
									<!-- end info-row -->
								</div>
								<!-- end card-body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col-6 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
					<!-- begin row -->
					<div class="row">
					<!-- begin col-6 -->
					<div class="col-sm-6">
						<!-- begin card -->
						<div class="card border-0 text-truncate mb-3 ">
							<!-- begin card-body -->
							<div class="card-body">
								<!-- begin title -->
								<div class="mb-3 text-grey">
									<b class="mb-3">DIRECT COMMISSION</b> 
									<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
								</div>
								<!-- end title -->
								<!-- begin conversion-rate -->
								<div class="d-flex align-items-center mb-1">
									<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(profitTotal.direct_commission * priceFFT).toFixed(0) %>"><%= Number(profitTotal.direct_commission * priceFFT).toFixed(0) %></span>
										<!-- % -->
									</h2>
									<div class="ml-auto">
										<div id="invest-sparkline-5"></div>
									</div>
								</div>
								<!-- end conversion-rate -->
								<!-- begin percentage -->
								<div class="mb-4 text-grey">
									<!-- <i class="fa fa-caret-down"></i> -->
									FFT <span data-animation="number" data-value="<%= Number(profitTotal.direct_commission) %>"><%= Number(profitTotal.direct_commission) %></span>
									<!-- % compare to last week -->
								</div>
								<!-- end percentage -->
								<!-- begin info-row -->
								<div class="d-flex mb-2">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-red f-s-8 mr-2"></i>
										Day
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(days_direct_commission * 100 / days_direct_commission_past - 100) %>"><%= Number(days_direct_commission * 100 / days_direct_commission_past - 100) %></span> %</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(days_direct_commission * priceFFT) %>"><%= Number(days_direct_commission * priceFFT) %></span>
											<!-- % -->
										</div>
									</div>
								</div>
								<!-- end info-row -->
								<!-- begin info-row -->
								<div class="d-flex mb-2">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
										Month
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(months_direct_commission * 100 / months_direct_commission_past - 100) %>"><%= Number(months_direct_commission * 100 / months_direct_commission_past - 100) %></span> %</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(months_direct_commission * priceFFT) %>"><%= Number(months_direct_commission * priceFFT) %></span>
											<!-- % -->
										</div>
									</div>
								</div>
								<!-- end info-row -->
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col-6 -->

					<!-- begin col-6 -->
					<div class="col-sm-6">
						<!-- begin card -->
						<div class="card border-0 text-truncate mb-3 ">
							<!-- begin card-body -->
							<div class="card-body">
								<!-- begin title -->
								<div class="mb-3 text-grey">
									<b class="mb-3">INDIRECT COMMISSION</b> 
									<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
								</div>
								<!-- end title -->
								<!-- begin conversion-rate -->
								<div class="d-flex align-items-center mb-1">
									<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= Number(profitTotal.indirect_commission * priceFFT).toFixed(0) %>"><%= Number(profitTotal.indirect_commission * priceFFT).toFixed(0) %></span>
										<!-- % -->
									</h2>
									<div class="ml-auto">
										<div id="invest-sparkline-5"></div>
									</div>
								</div>
								<!-- end conversion-rate -->
								<!-- begin percentage -->
								<div class="mb-4 text-grey">
									<!-- <i class="fa fa-caret-down"></i> -->
									FFT <span data-animation="number" data-value="<%= Number(profitTotal.indirect_commission) %>"><%= Number(profitTotal.indirect_commission) %></span>
									<!-- % compare to last week -->
								</div>
								<!-- end percentage -->
								<!-- begin info-row -->
								<div class="d-flex mb-2">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-red f-s-8 mr-2"></i>
										Day
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(days_indirect_commission * 100 / days_indirect_commission_past - 100) %>"><%= Number(days_indirect_commission * 100 / days_indirect_commission_past - 100) %></span> %</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(days_dynamic_interest * priceFFT) %>"><%= Number(days_dynamic_interest * priceFFT) %></span>
											<!-- % -->
										</div>
									</div>
								</div>
								<!-- end info-row -->
								<!-- begin info-row -->
								<div class="d-flex mb-2">
									<div class="d-flex align-items-center">
										<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
										Month
									</div>
									<div class="d-flex align-items-center ml-auto">
										<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="<%= Number(months_indirect_commission * 100 / months_indirect_commission_past - 100) %>"><%= Number(months_indirect_commission * 100 / months_indirect_commission_past - 100) %></span> %</div>
										<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="<%= Number(months_indirect_commission * priceFFT) %>"><%= Number(months_indirect_commission * priceFFT) %></span>
											<!-- % -->
										</div>
									</div>
								</div>
								<!-- end info-row -->
							</div>
							<!-- end card-body -->
						</div>
						<!-- end card -->
					</div>
					<!-- end col-6 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-8 -->
				<div class="col-xl-6 col-lg-6">
					<!-- begin card -->
					<div class="card border-0 mb-3 ">
						<div class="card-body">
							<div class="mb-3 text-grey"><b>CAPITALS CHARTS</b> <span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Top products with units sold" data-placement="top" data-content="Products with the most individual units sold. Includes orders from all sales channels." data-original-title="" title=""></i></span></div>
							<div class="row">
								<div class="col-xl-3 col-4">
									<h3 class="mb-1"><span data-animation="number" data-value="127.1">0</span>K</h3>
									<div>New Visitors</div>
									<div class="text-grey f-s-11 text-truncate"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="25.5">0.00</span>% from previous 7 days</div>
								</div>
								<div class="col-xl-3 col-4">
									<h3 class="mb-1"><span data-animation="number" data-value="179.9">0</span>K</h3>
									<div>Returning Visitors</div>
									<div class="text-grey f-s-11 text-truncate"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="5.33">0.00</span>% from previous 7 days</div>
								</div>
								<div class="col-xl-3 col-4">
									<h3 class="mb-1"><span data-animation="number" data-value="766.8">0</span>K</h3>
									<div>Total Page Views</div>
									<div class="text-grey f-s-11 text-truncate"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="0.323">0.00</span>% from previous 7 days</div>
								</div>
							</div>
						</div>
						<div class="card-body p-0">
							<div style="height: 269px">
								<div id="visitors-line-chart" class="widget-chart-full-width nvd3-inverse-mode" style="height: 254px"></div>
							</div>
						</div>
					</div>
					<!-- end card -->
				</div>
				<!-- end col-8 -->
				<!-- begin col-4 -->
				<div class="col-xl-6 col-lg-6">
					<!-- begin card -->
					<div class="card border-0 mb-3 ">
						<div class="card-body">
							<div class="mb-2 text-grey">
								<b>ASSETS TOTALS CHART</b>
								<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total sales" data-placement="top" data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i></span>
							</div>
							<div id="visitors-map" class="mb-2" style="height: 200px"></div>
							<div>
								<div class="d-flex align-items-center text-white mb-2">
									<div class="widget-img widget-img-xs rounded bg-inverse mr-2 width-40" style="background-image: url(../assets/img/flag/us.jpg)"></div>
									<div class="d-flex w-100">
										<div>United States</div>
										<div class="ml-auto text-grey"><span data-animation="number" data-value="39.85">0.00</span>%</div>
									</div>
								</div>
								<div class="d-flex align-items-center text-white mb-2">
									<div class="widget-img widget-img-xs rounded bg-inverse mr-2 width-40" style="background-image: url(../assets/img/flag/cn.jpg)"></div>
									<div class="d-flex w-100">
										<div>China</div>
										<div class="ml-auto text-grey"><span data-animation="number" data-value="14.23">0.00</span>%</div>
									</div>
								</div>
								<div class="d-flex align-items-center text-white mb-2">
									<div class="widget-img widget-img-xs rounded bg-inverse mr-2 width-40" style="background-image: url(../assets/img/flag/de.jpg)"></div>
									<div class="d-flex w-100">
										<div>Germany</div>
										<div class="ml-auto text-grey"><span data-animation="number" data-value="12.83">0.00</span>%</div>
									</div>
								</div>
								<div class="d-flex align-items-center text-white mb-2">
									<div class="widget-img widget-img-xs rounded bg-inverse mr-2 width-40" style="background-image: url(../assets/img/flag/fr.jpg)"></div>
									<div class="d-flex w-100">
										<div>France</div>
										<div class="ml-auto text-grey"><span data-animation="number" data-value="11.14">0.00</span>%</div>
									</div>
								</div>
								<div class="d-flex align-items-center text-white mb-0">
									<div class="widget-img widget-img-xs rounded bg-inverse mr-2 width-40" style="background-image: url(../assets/img/flag/jp.jpg)"></div>
									<div class="d-flex w-100">
										<div>Japan</div>
										<div class="ml-auto text-grey"><span data-animation="number" data-value="10.75">0.00</span>%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end card -->
				</div>
				<!-- end col-4 -->
				
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/transparent.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/d3/d3.min.js"></script>
	<script src="../assets/plugins/nvd3/build/nv.d3.min.js"></script>
	<script src="../assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
	<script src="../assets/plugins/jvectormap-next/jquery-jvectormap-world-mill.js"></script>
	<script src="../assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
	<script src="../assets/plugins/moment/min/moment.min.js"></script>
	<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../assets/js/demo/dashboard-v3.js"></script>
	<script src="../custom/sidebar.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>