<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Dashboard V3</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../assets/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<!-- ================== BEGIN PAGE CSS ================== -->
	<link href="../assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<!-- ================== END PAGE CSS ================== -->
</head>
<body>
	<%- include("../frame/loader") -%>

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<%- include("../frame/header") -%>
		<%- include("../frame/sidebar") -%>
		
       <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Tools</a></li>
				<li class="breadcrumb-item active">News</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">
				News
			</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row row-space-15">
				<!-- begin col-8 -->
				<div class="col-lg-12 col-xl-12">
					<!-- begin row -->
					<div class="row row-space-30">
						<!-- begin col-6 -->
						<% posts.forEach((item)=>{%>
						<div class="col-sm-4">
							<!-- begin widget-card -->
							<div class="widget-card widget-card-rounded m-b-20" data-id="widget">
								<div class="widget-card-cover" style="background-image: url('../assets/avatars/<%= item.img %>')"></div>
								
								<div class="widget-card-content bottom bg-black-transparent-3">
									<i class="fab fa-gg fa-5x text-grey-darker"></i>
									<h4 class="text-white-darker m-t-10"><b><%= item.sub %></b></h4>
									<p class="f-s-12 text-white-darker m-b-10"><b>"<%= (item.description.length < 87 ) ? item.description : item.description.slice(0,84) + "..." %>"</b></p>
								</div>
								<div class="widget-card-content bg-black-transparent-3 d-flex">
									<div class="col-6">
										<p class="f-s-12 text-white-darker m-b-2"><b>Post By</b> <i><%= item.by %></i></p>
										<p class="f-s-12 text-white-darker m-b-10"><%= item.timestamp.toISOString().split('T')[0] + " " + item.timestamp.toISOString().split('T')[1].slice(0,8)  %></p>
									</div>
									<div class="col-6">
										<a href="/details/<%= item.link %>-.-<%= item.newsId %>" class=" float-right btn btn-xs btn-outline-grey text-white">More...</a>
									</div>
									
								</div>  
							</div>
							<!-- end widget-card -->
						</div>
						<!-- end col-6 -->
						<% }); %>
					</div>
					<!-- end row -->
					<div class="d-flex m-t-20">
						<ul class="pagination ml-auto mr-auto mr-lg-0">
							<% if(current == 1){ %>
							<li class="page-item disabled"><a href="javascript:;" class="page-link">first</a></li>
							<li class="page-item disabled"><a href="javascript:;" class="page-link">prev</a></li>
							<% }else{ %>
							<li class="page-item"><a href="/news/1" class="page-link">first</a></li>
							<li class="page-item"><a href="/news/<%= Number(current) - 1 %>" class="page-link">prev</a></li>
							<% } %>
							<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    		<% if (i !== 1) { %>
							<li class="page-item disabled"><a href="javascript:;" class="page-link">...</a></li>
							<% } %>
							<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
								<% if (i == current) { %>
								<li class="page-item active"><a href="javascript:;" class="page-link"><%= i %></a></li>
								<% } else { %>
								<li class="page-item"><a href="/news/<%= i %>" class="page-link"><%= i %></a></li>
								<% } %>
								<% if (i == Number(current) + 4 && i < pages) { %>
								<li class="page-item disabled"><a href="javascript:;" class="page-link">...</a></li>
								<% } %>
							<% } %>
							<% if (current != pages) { %>
							<li class="page-item"><a href="/news/<%= Number(current) + 1 %>" class="page-link">next</a></li>
							<li class="page-item"><a href="/news/<%= pages %>" class="page-link">last</a></li>
							<% }else{ %>
							<li class="page-item disabled"><a href="javascript:;" class="page-link">next</a></li>
							<li class="page-item disabled"><a href="javascript:;" class="page-link">last</a></li>
							<% } %>
							<li class="page-item"><div class="page-link bg-transparent disabled"><span>Total <span><%= pages %></span> pages</span></div></li>
	
						</ul>
					</div>
				</div>
				<!-- end col-8 -->
				
			</div>
			<!-- end row -->
			<% if(role === "editor" || role === "admin"){ %>
			<a class="btn btn-outline-warning" href="/upload">Upload News</a>
			<% } %>
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/transparent.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/d3/d3.min.js"></script>
	<script src="../assets/plugins/nvd3/build/nv.d3.min.js"></script>
	<script src="../assets/plugins/clipboard/dist/clipboard.min.js"></script>
	<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
	<script src="../assets/js/demo/widget.demo.js"></script>
	<script src="../assets/js/demo/render.highlight.js"></script>
	<script src="../custom/sidebar.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>