<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" href="../../../assets-home/home/finfine.png" type="image/gif">
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../../../assets/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../../../assets/plugins/smartwizard/dist/css/smart_wizard.css" rel="stylesheet" />
</head>
<body>
	<%- include("../../frame/loader") -%>

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<%- include("../../frame/header") -%>
		<%- include("../../frame/sidebar") -%>
		
        <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Management</a></li>
				<li class="breadcrumb-item active">Information</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Information</h1>
            <!-- end page-header -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
					<!-- begin card -->
					<div class="card border-0 text-truncate mb-3 ">
						<!-- begin card-body -->
						<div class="card-body">
							<!-- begin title -->
							<div class="mb-3 text-grey">
								<b class="mb-3">TOTAL USERS</b> 
							</div>
							<!-- end title -->
							<!-- begin conversion-rate -->
							<div class="d-flex align-items-center mb-1">
								<h2 class="text-white mb-0"><span data-animation="number" data-value="<%= totalUser %>">0</span>
									<!-- % -->
								</h2>
							</div>
							<!-- end conversion-rate -->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
					<!-- begin card -->
					<div class="card border-0 text-truncate mb-3 ">
						<!-- begin card-body -->
						<div class="card-body">
							<!-- begin title -->
							<div class="mb-3 text-grey">
								<b class="mb-3">TOTAL INVESTORS</b> 
							</div>
							<!-- end title -->
							<!-- begin store-session -->
							<div class="d-flex align-items-center mb-1">
								<h2 class="text-white mb-0"><span data-animation="number" data-value="0"><%= totalInvestor %></span></h2>
							</div>
							<!-- end store-session -->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<div class="panel panel-inverse">
				<h3 class="p-10">User Information</h3>
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th width="1%"></th>
								<th width="1%" data-orderable="false"></th>
								<th class="text-nowrap">Email</th>
								<th class="text-nowrap">Name</th>
								<th class="text-nowrap">Role</th>
								<th class="text-nowrap">Finance Total</th>
								<th class="text-nowrap">Invest Total</th>
								<th class="text-nowrap">Kyc Image</th>
								<th class="text-nowrap">Action</th>
							</tr>
						</thead>
						<tbody>
                            <% AllUser.forEach(function(item){ %>
							<tr class="odd gradeX">
								<td width="1%" class="f-s-600 text-inverse">1</td>
								<td width="1%" class="with-img">
									<% if(item.info.avatar){ %>
									<img src="../../assets/avatars/<%= item.info.avatar %>" class="img-rounded height-30 width-30" />
									<% }else{ %>
									<img src="../../assets/default.png" class="img-rounded height-30 width-30" />
									<% } %>	
								</td>
								<td><%= item.info.email %></td>
								<td><%= item.info.first_name %> <%= item.info.last_name %></td>
								<td><%= item.role %></td>
								<td><%= item.info.finance_total %></td>
								<td><%= item.userInvest.FFT %> FFT</td>
								<td>
									<% if(item.info.kyc_img.length > 0){ %>
										<img src="../../assets/avatars/<%= item.info.kyc_img[0] %>" class="img-rounded height-60 width-60" />
										<img src="../../assets/avatars/<%= item.info.kyc_img[1] %>" class="img-rounded height-60 width-60" />
										<img src="../../assets/avatars/<%= item.info.kyc_img[2] %>" class="img-rounded height-60 width-60" />
									<% }else{ %>
										<img src="../../assets/default.png" class="img-rounded height-60 width-60" />
										<img src="../../assets/default.png" class="img-rounded height-60 width-60" />
										<img src="../../assets/default.png" class="img-rounded height-60 width-60" />
									<% } %>
								</td>
								<td>
                                    <a href="" class="btn btn-xs btn-success"><i class="fa fa-tools"></i></a>
									<a href="" class="btn btn-xs btn-danger m-r-10"><i class="fa fa-remove-format"></i></a>
									<% if(item.info.kyc == false && item.info.kyc_img.length == 3 ){ %>
									<a class="submit_kyc btn btn-xs btn-warning " data-uid="<%= item._id %>">KYC</a>
									<a class="refuse_kyc btn btn-xs btn-default " data-rid="<%= item._id %>">KYC Faile</a>
									<% }else if(item.info.kyc == true){ %>
										<a class="btn btn-xs btn-success disabled "><i class="fa fa-check"></i> KYC</a>
									<% }else{ %>
										<a class="btn btn-xs btn-danger disabled "><i class="fa fa-window-close"></i> KYC</a>
									<% } %>
                                </td>
                            </tr>
                            <% }) %>
						</tbody>
					</table>
				</div>
                <!-- end panel-body -->
                <div class="d-flex m-t-20">
                    <ul class="pagination ml-auto mr-auto mr-lg-0">
                        <% if(current == 1){ %>
                        <li class="page-item disabled"><a href="javascript:;" class="page-link">first</a></li>
                        <li class="page-item disabled"><a href="javascript:;" class="page-link">prev</a></li>
                        <% }else{ %>
                        <li class="page-item"><a href="/admin/info/1" class="page-link">first</a></li>
                        <li class="page-item"><a href="/admin/info/<%= Number(current) - 1 %>" class="page-link">prev</a></li>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                        <li class="page-item disabled"><a href="javascript:;" class="page-link">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                            <li class="page-item active"><a href="javascript:;" class="page-link"><%= i %></a></li>
                            <% } else { %>
                            <li class="page-item"><a href="/admin/info/<%= i %>" class="page-link"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a href="javascript:;" class="page-link">...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current != pages) { %>
                        <li class="page-item"><a href="/admin/info/<%= Number(current) + 1 %>" class="page-link">next</a></li>
                        <li class="page-item"><a href="/admin/info/<%= pages %>" class="page-link">last</a></li>
                        <% }else{ %>
                        <li class="page-item disabled"><a href="javascript:;" class="page-link">next</a></li>
                        <li class="page-item disabled"><a href="javascript:;" class="page-link">last</a></li>
                        <% } %>
                        <li class="page-item"><div class="page-link bg-transparent disabled"><span>Total <span><%= pages %></span> pages</span></div></li>
        
                    </ul>
                </div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../../../assets/js/app.min.js"></script>
	<script src="../../../assets/js/theme/transparent.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../../../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="../../../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
	<script src="../../../assets/js/demo/table-manage-default.demo.js"></script>
	<script src="../../../custom/sidebar.js"></script>
	<<script src="/socket.io/socket.io.js"></script>
	<script src="../../../custom/a-info.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>